body {
    font-family:         'Lato';
    font-weight:         300;
}

#cover {
    height:              100vh;
    width:               100%;
    background:          #ccc;
    
   background-image:    url(../images/bg.jpg);

  
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
    
    display:             flex;
    flex-direction:      column;
    justify-content:     flex-end;
    align-items:         center;
    
    position:            absolute;
    z-index:             1000;
    
    transition:          all .4s;
}

#cover:target {
    transform: translateY(-100vh);
}

#cover .flecha {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
}







#grid {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    background: #ccc;
}

#grid ul {
    list-style: none;
}

#grid ul li {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}

#grid ul li:first-child{
    width: 25%;
    height: 50%;
    top: 0;
    left: 0;
    background-image: url(../images/bg.jpg);
    
    
    transform: scale(.5);
    transition: all .7s;
}

#cover:target + #grid ul li:first-child{
    transform: scale(1);
}


#grid ul li:nth-child(2){
    width: 25%;
    height: 50%;
    top: 50%;
    left: 0;
    background-image: url(../images/grid1.jpg);
}

#grid ul li:nth-child(3){
    width: 25%;
    height: 100%;
    top: 0;
    left: 25%;
    background-image: url(../images/grid3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}

#grid ul li:nth-child(4){
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
    background-image: url(../images/grid4.jpg);
    background-position: center center;
}

#grid ul li:nth-child(5){
    width: 25%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-image: url(../images/grid5.jpeg);
}


#grid ul li:last-child{
    width: 25%;
    height: 50%;
    top: 50%;
    left: 75%;
    background-image: url(../images/grid6.jpg);
}

main {
    position: absolute;
    top: 50vh;
    left: 0;
    background: #ccc;
}








      nav > .desktop > ul {
          list-style: none;
          
          height: 48;
          background: rgba(200, 200, 200, 1);
          
          display: flex;
          flex-direction: row;
      }
      
       nav > .desktop > ul > li {
          flex: 1;
            height: 48px;
           padding: 0 5px 0 5px;
           border-left: 1px solid rgba(0, 0, 0, .2);
           
           margin-top: 10px;
      }
      
       nav > .desktop > ul > li:first-child {
           border-left: none;
      }
      
       nav > .desktop > ul > li >a {
           text-decoration: none;
           color: rgba(0, 0, 0, 1);
           font-size: 30px;
           
           display: block;
           width: 100%;
           height: 100%;
              
           display: flex;
           align-items: center;
           justify-content: center;
      }
      
             nav > .desktop > ul > li >a:hover {
           background: rgba(100, 100, 100, 1);
                 color: #fff;
      }